openapi: 3.0.3
info:
  title: FAL.ai API
  version: 1.0.0
  description: API documentation for FAL.ai API
  x-generated-by: api-docs-finder export_generator
  x-generated-at: '2026-01-07T16:55:17.230500'
servers:
- url: https://fal.run
  description: Production
paths:
  /webhook:
    post:
      summary: POST /webhook
      tags:
      - webhook
      - round-1
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Server error
  /v1/models/usage:
    get:
      summary: Usage API
      tags:
      - v1
      - round-2
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Server error
  /v1/models/pricing:
    get:
      summary: Pricing API
      tags:
      - v1
      - round-2
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Server error
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
security:
- apiKeyAuth: []
